/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 5, ../../app/stylesheets/default/_global.sass */
body {
  font-family: "Lucida Grande", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* line 10, ../../app/stylesheets/default/_global.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, serif;
}

/* line 13, ../../app/stylesheets/default/_global.sass */
h1 {
  font-size: 35px;
  line-height: 40px;
}

/* line 16, ../../app/stylesheets/default/_global.sass */
h2 {
  font-size: 22px;
  line-height: 26px;
}

/* line 19, ../../app/stylesheets/default/_global.sass */
h3 {
  font-size: 20px;
  line-height: 23px;
}

/* line 22, ../../app/stylesheets/default/_global.sass */
h4 {
  font-size: 18px;
  line-height: 20px;
}

/* line 25, ../../app/stylesheets/default/_global.sass */
h5 {
  font-size: 16px;
  line-height: 18px;
}

/* line 28, ../../app/stylesheets/default/_global.sass */
h6 {
  font-size: 16px;
  line-height: 18px;
}

/* line 32, ../../app/stylesheets/default/_global.sass */
#header, #content {
  padding: 20px;
}

/* line 35, ../../app/stylesheets/default/_global.sass */
.wrapper {
  width: 900px;
  margin: auto;
}

/* line 45, ../../app/stylesheets/default/_global.sass */
body {
  background-color: #ecf3f9;
  color: #637080;
  text-shadow: white 0 1px 1px;
}

/* line 50, ../../app/stylesheets/default/_global.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #3e6eb1;
}
/* line 6, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}
/* line 24, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #82a4d3;
}

/* line 54, ../../app/stylesheets/default/_global.sass */
h1, h2, h3, h4, h5, h6 {
  color: #0f1c29;
}

/* line 57, ../../app/stylesheets/default/_global.sass */
#header {
  background-color: white;
  border-bottom: 1px solid #637080;
  -moz-box-shadow: #637080 0 -3px 10px 0;
  -webkit-box-shadow: #637080 0 -3px 10px 0;
  -o-box-shadow: #637080 0 -3px 10px 0;
  box-shadow: #637080 0 -3px 10px 0;
}

/* line 63, ../../app/stylesheets/default/_global.sass */
.talks li {
  margin-top: 20px;
  list-style: disc;
}

/* line 67, ../../app/stylesheets/default/_global.sass */
strong {
  font-weight: bold;
}

/* line 70, ../../app/stylesheets/default/_global.sass */
em {
  font-style: italic;
}

/* line 73, ../../app/stylesheets/default/_global.sass */
pre, code {
  font-family: courier, monospace;
  font-size: 14px;
  padding: 4px 7px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #0f1c29;
  color: #ecf3f9;
  text-shadow: #637080 0 1px 1px;
}

/* line 5, ../../app/stylesheets/default/_talks.sass */
body.talks .talk h1, body.talks .talk h2 {
  margin: 20px 0;
}
/* line 8, ../../app/stylesheets/default/_talks.sass */
body.talks .talk li, body.talks .talk p {
  margin: 10px 0;
}
/* line 11, ../../app/stylesheets/default/_talks.sass */
body.talks .slide {
  font-size: 30px;
  line-height: 35px;
}
/* line 16, ../../app/stylesheets/default/_talks.sass */
body.talks .slide h1 {
  font-size: 70px;
  line-height: 80px;
}
/* line 19, ../../app/stylesheets/default/_talks.sass */
body.talks .slide h2 {
  font-size: 60px;
  line-height: 65px;
}
/* line 23, ../../app/stylesheets/default/_talks.sass */
body.talks .slide li, body.talks .slide p {
  margin: 20px 0;
}
